@import "../sass/variables.scss";
//lora
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");

//robokitt
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Rokkitt:ital,wght@0,100..900;1,100..900&display=swap");

//ARVO
@import url("https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Lora:ital,wght@0,400..700;1,400..700&family=Rokkitt:ital,wght@0,100..900;1,100..900&display=swap");

body {
  background-color: $primary-color;
  color: $secondary-color;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: $secondary-color;
}
