@import "../../sass/mixins.scss";
@import "../../sass/variables.scss";

.form-container {
  background: $secondary-color;
  color: $primary-color;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  height: 100vh;
  position: relative;

  .hero-content {
    grid-column: 1 / span 12;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0 5em;
    margin-bottom: 10vh;

    .title {
      grid-column: 2 / span 6;
      position: relative;
      width: fit-content;
      font-size: clamp(1.5em, 5vw, 5em);
    }

    .mail {
      grid-column: 8 / span 4;
      justify-self: flex-end;
      font-size: clamp(1.5em, 5vw, 5em);
      position: relative;
      letter-spacing: -0.08em;

      a {
        color: $primary-color;
      }
    }

    .mail:before,
    .mail:after {
      content: "";
      width: 30%;
      border-bottom: 2px solid $primary-color;
      position: absolute;
      bottom: 0;
      left: 0;
      opacity: 1;
      transform: scale(1, 1);
      transform-origin: right center 0;
      transition: left 0.2s ease-in-out, width 0.2s ease-in-out;
    }

    .mail:after {
      opacity: 0;
      transform: scale(0, 1);
      transform-origin: left center 0;
    }

    .mail:hover:before {
      width: 100%;
      left: 0;
      opacity: 0;
      transform: scale(1, 1);
    }

    .mail:hover:after {
      width: 100%;
      left: 0;
      opacity: 1;
      transform: scale(1, 1);
    }

    .mail:not(:hover):before {
      animation: slideOut 0.7s forwards;
    }

    @keyframes slideOut {
      0% {
        left: 0;
        width: 100%;
      }
      80% {
        left: 100%;
        width: 0;
      }
      85% {
        left: 0%;
        width: 0;
      }

      100% {
        left: 0;
        width: 30%;
      }
    }
  }

  .form-divider {
    grid-column: 2 / span 10;
    width: 0;
    margin: calc(5vh + 2rem) 0;
    height: 0.5px;
    background-color: $primary-color;
  }

  .infos {
    grid-column: 2 / span 10;
    display: grid;
    align-items: center;
    justify-items: flex-start;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));

    span {
      font-size: clamp(0.5rem, 4vw, 1.3rem);
      color: $primary-color;
    }

    p {
      opacity: 0.47;
      font-size: clamp(0.5rem, 4vw, 1.1rem);
      margin-bottom: 1rem;
    }

    .local-time,
    .number,
    .instagram,
    .made-by {
      display: flex;
      flex-direction: column;
      gap: 1.5em;
      align-items: center;
    }

    .instagram {
      justify-self: flex-end;

      a {
        color: $primary-color;
        font-size: clamp(0.5rem, 4vw, 1.1rem);
        margin-bottom: 1rem;
      }
    }
    .made-by {
      justify-self: flex-end;
    }
  }

  .name {
    margin: 0 8vw;
    grid-column: 1 / span 12;
    align-self: flex-end;
    margin-top: calc(5vh + 4rem);
  }
}

@media (max-width: 1200px) {
  .form-container {
    .infos {
      grid-template-columns: repeat(2, minmax(1rem, 1fr));
      gap: 3rem;
      justify-items: center;
      text-align: center;

      .instagram {
        justify-self: center;
      }
      .made-by {
        justify-self: center;
      }
    }
  }
}

@media (max-width: 498px) {
  .form-container {
    .form-divider {
      margin: 0;
    }

    .hero-content {
      .mail::after,
      .mail:before {
        border-bottom: 1px solid $primary-color;
      }
    }
  }
}
