@import "../../../sass/variables.scss";
@import "../../../sass/mixins.scss";

.menu-mobile {
  z-index: 9999998;
  overflow: hidden;
  width: 100vw;
  background-color: $primary-color;

  .nav-container {
    box-sizing: border-box;
    height: 100%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;

    .nav {
      display: flex;
      flex-direction: column;
      font-size: $fs-xxxl;
      gap: 12px;
      margin-top: 80px;
      align-items: center;
      font-weight: 700;
      text-transform: uppercase;
      height: 100%;

      .nav-header {
        width: 100%;
        color: rgb(153, 153, 153);
        border-bottom: 1px solid rgb(153, 153, 153);
        text-transform: uppercase;
        font-size: $fs-sm;
      }

      .links-container {
        display: grid;
        place-content: center;
        height: 100%;
        .text {
          // font-family: $font-title;
          text-decoration: none;
          line-height: calc(1em * 1.3);
          color: $secondary-color;
          height: calc(1em * 1.1);
          overflow: hidden;
        }

        .text:hover .letter {
          transform: translateY(-100%);
        }

        .text .block:last-child {
          color: $secondary-color;
        }

        .text .letter {
          display: inline-block;
          transition: transform 0.6s cubic-bezier(0.76, 0, 0.24, 1);
        }

        .letter:nth-child(1) {
          transition-delay: 0s;
        }

        .letter:nth-child(2) {
          transition-delay: 0.03s;
        }

        .letter:nth-child(3) {
          transition-delay: 0.06s;
        }

        .letter:nth-child(4) {
          transition-delay: 0.09s;
        }

        .letter:nth-child(5) {
          transition-delay: 0.12s;
        }

        .letter:nth-child(6) {
          transition-delay: 0.15s;
        }

        .letter:nth-child(7) {
          transition-delay: 0.18s;
        }

        .letter:nth-child(8) {
          transition-delay: 0.21s;
        }

        .letter:nth-child(9) {
          transition-delay: 0.24s;
        }

        .letter:nth-child(10) {
          transition-delay: 0.27s;
        }

        .letter:nth-child(11) {
          transition-delay: 0.3s;
        }

        .letter:nth-child(12) {
          transition-delay: 0.33s;
        }
      }
      a {
        text-decoration: none;
        color: $secondary-color;
        font-weight: 500;
      }
    }
    .footer {
      // font-family: $font-text;
      display: flex;
      position: absolute;
      padding-bottom: 20px;
      bottom: 0;
      left: 0;
      width: 100%;
      justify-content: space-around;
      font-size: clamp(0.8em, 5vw, 1em);
    }
  }
}

@media (max-width: 498px) {
  .menu {
    background-color: rgba(255, 255, 255, 0.93);
    width: 100%;
    .nav-container {
      padding: 50px;

      .nav {
        font-size: $fs-xxl;
      }
    }
  }
}
