@import "../../../sass/variables.scss";

.header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999999999999;
  border-bottom: solid 1px $matching-color1;

  .button {
    display: none;
  }

  .buttonActive {
    display: none;
  }
}

@media (max-width: 498px) {
  .logo-mobile {
    z-index: 9999999999999;
    position: absolute;
    top: 0%;
    left: 0%;
    padding: 30px 20px;
  }
  .header-mobile {
    width: 70px;
    height: 30px;
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px;
    z-index: 9999999999999;

    .button {
      border-radius: 20px;
      background: $secondary-color;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.164);
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $secondary-color;
      width: 100%;
      height: 100%;
      position: relative;
      overflow: hidden;
      color: $primary-color;

      p {
        text-transform: uppercase;
        font-weight: 300;
      }

      .buttonNameActive {
        animation: fadeIn 5s;
        z-index: 99999999;
        color: black;
      }

      @keyframes fadeIn {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }
    }

    .buttonActive {
      background-color: $primary-color;
      box-shadow: none;
    }
  }
}
