@import "../../sass/variables.scss";
@import "../../sass/mixins.scss";

:root {
  --item--width: 200px;
  --item--height: 275px;
}

.home-container {
  @include parent-styles;
  padding: 0 4vw;
  .flip-container {
    width: 100vw;
    height: 50vh;
    overflow: hidden;
    font-size: 30em;
    font-weight: 400;
  }

  .flip-container .oeuvres-grid {
    text-align: center;
    width: 3000px;
    text-transform: uppercase;
  }

  .flip-container .oeuvres-grid {
    cursor: pointer;
  }

  .flip-container .image-container {
    position: fixed;
    width: 50vw;
    height: 30vh;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .scrollDist {
    width: 100%;
    height: 300vh;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .home-content {
      overflow: hidden;
      height: 100vh;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      position: relative;

      .scroll-images-container {
        position: absolute;
        perspective: 200px;
        .scroll-infinite {
          width: 20vh;
          height: 20vh;
          video,
          img {
            border-radius: 20%;
            object-fit: cover;
            width: 100%;
            height: 100%;
          }
        }
      }
      .title-content {
        overflow: hidden;
        font-weight: 300;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: $primary-color;
        z-index: 9999999999999999;
        mix-blend-mode: difference;

        p {
          text-transform: uppercase;
          font-size: 17vw;
        }
      }

      .based {
        font-size: $fs-base;
        font-weight: 400;
      }

      .infos-oeuvres {
        font-weight: 700;
        font-size: $fs-sm;
        display: flex;
        flex-wrap: wrap;
        gap: 0 5px;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

@media (max-width: 498px) {
  .home-container {
    .flip-container {
      font-size: 20em;
    }
    .wrapper {
      .home-content {
        width: 100%;
      }
    }

    .projects {
      .latest-infos {
        flex-direction: column;
      }
    }
  }
}

@media (max-width: 350px) {
  .home-container {
    .flip-container {
      font-size: 9em;
      height: 40vh;
    }

    .projects {
      .latest-infos {
        gap: 2em;

        .projects-infos {
          align-items: center;
          padding: 1em;
          .title {
            font-size: $fs-xxl;
          }
        }

        .video-content {
          flex: 1;
          padding: 10px;
          display: flex;
          align-items: center;
          background-color: white;
          height: max-content;

          video {
            width: 100%;
            height: 100%;
          }
        }
      }
    }

    .scrollDist {
      width: 100%;
      height: 120vh;
    }
  }
}
