@import "../../sass/variables.scss";

:root {
  --item--width: 200px;
  --item--height: 275px;
}

.home-container {
  width: 100vw;
  height: 100vh;
  display: grid;
  perspective: 5000px;
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1;
    border-radius: 5px;
  }

  .title {
    width: max-content;
    font-size: clamp(1.2em, 3vw, 3em);
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    overflow: hidden;
    font-weight: 500;
    font-size: $fs-xxxl;
    letter-spacing: 7vw;
    z-index: -1;
  }

  .content-right {
    font-weight: $text;
    z-index: -1;
    position: absolute;
    right: 2%;
    top: 75%;
    display: flex;
    align-self: center;
    justify-content: flex-end;
    width: 30vw;
    text-transform: uppercase;
    font-size: $fs-base;

    .text-1 {
      display: flex;
      overflow: hidden;
    }
  }

  .made-by,
  .based {
    position: absolute;
    padding: 10px;
    font-size: $fs-base;
    z-index: -1;
  }

  .made-by {
    bottom: 0;
    right: 0;
  }

  .based {
    bottom: 0;
    left: 0;
  }

  .gallery {
    position: absolute;
    display: grid;
    overflow: hidden;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(20, minmax(0, 1fr));
    grid-template-rows: repeat(9, minmax(0, 1fr));
  }

  .item:nth-child(1) {
    grid-column: 1;
    grid-row: 1;
  }
  .item:nth-child(2) {
    grid-column: 1;
    grid-row: 5;
  }
  .item:nth-child(3) {
    grid-column: 5;
    grid-row: 5;
  }
  .item:nth-child(4) {
    grid-column: 9;
    grid-row: 7;
  }
  .item:nth-child(5) {
    grid-column: 3;
    grid-row: 8;
  }
  .item:nth-child(6) {
    grid-column: 8;
    grid-row: 1;
  }
  .item:nth-child(7) {
    grid-column: 18;
    grid-row: 2;
  }
  .item:nth-child(8) {
    grid-column: 14;
    grid-row: 5;
  }
  .item:nth-child(9) {
    grid-column: 15;
    grid-row: 9;
  }
  .item:nth-child(10) {
    grid-column: 20;
    grid-row: 6;
  }
  .item {
    width: var(--item--width);
    height: var(--item--height);
  }
}

@media (min-width: 1800px) {
  .home-container {
    .item:nth-child(3) {
      grid-column: 6;
      grid-row: 5;
    }
  }
}

@media (max-width: 900px) {
  :root {
    --item--width: 120px;
    --item--height: 165px;
  }

  .home-container {
    .item {
      width: var(--item--width);
      height: var(--item--height);
    }

    .item:nth-child(1) {
      grid-column: 1;
      grid-row: 1;
    }
    .item:nth-child(2) {
      grid-column: 2;
      grid-row: 3;
    }

    .item:nth-child(3) {
      grid-column: 5;
      grid-row: 5;
    }

    .item:nth-child(4) {
      grid-column: 9;
      grid-row: 7;
    }
    .item:nth-child(5) {
      grid-column: 1;
      grid-row: 8;
    }
    .item:nth-child(6) {
      grid-column: 12;
      grid-row: 0;
    }
    .item:nth-child(7) {
      grid-column: 18;
      grid-row: 2;
    }

    .item:nth-child(8) {
      grid-row: 5;
    }

    .item:nth-child(9) {
      grid-column: 15;
      grid-row: 9;
    }
    .item:nth-child(10) {
      grid-column: 20;
      grid-row: 7;
    }
  }
}

@media (max-width: 768px) {
  :root {
    --item--width: 120px;
    --item--height: 165px;
  }

  .home-container {
    .item {
      width: var(--item--width);
      height: var(--item--height);
    }

    .item:nth-child(3) {
      grid-column: 4;
      grid-row: 5;
    }

    .item:nth-child(2) {
      grid-column: 1;
      grid-row: 4;
    }

    .item:nth-child(8) {
      grid-row: 5;
    }
  }
}
@media (max-width: 600px) {
  :root {
    --item--width: 90px;
    --item--height: 123.75px;
  }

  .home-container {
    .item {
      width: var(--item--width);
      height: var(--item--height);
    }
    .item:nth-child(3) {
      grid-column: 2;
      grid-row: 5;
    }

    .item:nth-child(2) {
      grid-column: 1;
      grid-row: 3;
    }
    .item:nth-child(7) {
      grid-column: 18;
      grid-row: 2;
    }

    .item:nth-child(8) {
      grid-column: 15;
      grid-row: 5;
    }
    .content-right {
      z-index: -1;
      right: 0;
      top: 70%;
      flex-direction: row;
      gap: calc(1.5 * 20px);
      align-self: center;
      width: max-content;
      font-size: clamp(0.7em, 1vw, 1.5em);

      .path {
        width: 30px;
        height: 15px;
        margin-right: 10px;
        background-color: black;
      }

      .text-1,
      .text-2 {
        display: flex;
      }
    }
  }
}

@media (max-width: 498px) {
  :root {
    --item--width: 90px;
    --item--height: 123.75px;
  }

  .home-container {
    .title {
      letter-spacing: 4vw;
    }
    .item {
      width: var(--item--width);
      height: var(--item--height);
    }

    .item:nth-child(1) {
      grid-column: 1;
      grid-row: 1;
    }
    .item:nth-child(2) {
      grid-column: 6;
      grid-row: 3;
    }

    .item:nth-child(3) {
      grid-column: 1;
      grid-row: 5;
    }

    .item:nth-child(4) {
      grid-column: 9;
      grid-row: 8;
    }
    .item:nth-child(5) {
      grid-column: 1;
      grid-row: 8;
    }
    .item:nth-child(6) {
      grid-column: 12;
      grid-row: 0;
    }
    .item:nth-child(7) {
      grid-column: 18;
      grid-row: 2;
    }

    .item:nth-child(8) {
      grid-column: 16;
      grid-row: 5;
    }

    .item:nth-child(9) {
      grid-column: 15;
      grid-row: 9;
    }
    .item:nth-child(10) {
      grid-column: 20;
      grid-row: 7;
    }
  }
}
@media (max-width: 300px) {
  :root {
    --item--width: 50.625px;
    --item--height: 69.609375px;
  }

  .home-container {
    .title {
      letter-spacing: 3vw;
    }
    .item {
      width: var(--item--width);
      height: var(--item--height);
    }
    .item:nth-child(1) {
      grid-column: 1;
      grid-row: 1;
    }
    .item:nth-child(2) {
      grid-column: 6;
      grid-row: 3;
    }

    .item:nth-child(3) {
      grid-column: 1;
      grid-row: 5;
    }

    .item:nth-child(4) {
      grid-column: 9;
      grid-row: 8;
    }
    .item:nth-child(5) {
      grid-column: 1;
      grid-row: 9;
    }
    .item:nth-child(6) {
      grid-column: 13;
      grid-row: 0;
    }
    .item:nth-child(7) {
      grid-column: 18;
      grid-row: 3;
    }

    .item:nth-child(8) {
      grid-column: 16;
      grid-row: 5;
    }

    .item:nth-child(9) {
      grid-column: 17;
      grid-row: 9;
    }
    .item:nth-child(10) {
      grid-column: 20;
      grid-row: 7;
    }

    .content-right {
      flex-direction: row;
      gap: calc(1.5 * 20px);
      width: 100vw;

      .path {
        width: 30px;
        height: 15px;
        margin-right: 10px;
        background-color: black;
      }

      .text-1,
      .text-2 {
        display: flex;
      }
    }
  }
}
