@import "../../sass/variables.scss";
@import "../../sass/mixins.scss";

:root {
  --item--width: 200px;
  --item--height: 275px;
}

.home-container {
  overflow: hidden;
  @include parent-styles;
  padding: 0 4vw;
  height: 100vh;
  display: grid;
  background-color: #f1f0ea;
  color: #2d2d2b;

  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    .home-content {
      width: 70%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      .content-left {
        font-weight: 900;
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;

        p {
          text-transform: uppercase;
          font-size: $fs-xxxl;
        }

        span {
          text-transform: uppercase;
          font-size: $fs-base;
        }
      }
      .content-right {
        font-size: $fs-sm;
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .infos-oeuvres {
        font-weight: 700;
        font-size: $fs-sm;
        display: flex;
        flex-wrap: wrap;
        gap: 0 5px;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      // .image-container {
      //   position: absolute;
      //   top: 30%;

      //   width: 10vw;
      //   height: 10vh;

      //   img {
      //     width: 100%;
      //     height: 100%;
      //     object-fit: cover;
      //   }
      // }
    }
  }
}

@media (max-width: 498px) {
  .home-container {
    .wrapper {
      .home-content {
        width: 100%;

        .content-right {
          position: absolute;
          bottom: 20%;
          padding: 20px;
          font-size: $fs-sm;
          text-align: center;
          font-weight: 300;
        }

        .infos-oeuvres {
          font-weight: 700;
          font-size: $fs-sm;
          display: flex;
          flex-wrap: wrap;
          gap: 0 5px;
          text-transform: uppercase;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}
