@import "../../sass/mixins.scss";
@import "../../sass/variables.scss";

.tirage-container {
  margin-top: $navbar-margin;
  @include parent-styles;
  margin-top: 20vh;
  padding: 0 4vw;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .flip-container {
    position: fixed;
    top: 0%;
    right: 0%;
    width: calc(40vw + 10px);
    height: calc(40vh + 10px);
    z-index: -1;
  }

  .flip-container-width {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 10vw;
    height: 10vw;
    justify-self: center;
    z-index: -1;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .hero {
    .hero-subtitle {
      position: absolute;
      bottom: 0;
      right: 0;
      font-size: $fs-base;
    }
  }

  .description-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
    column-gap: calc(10vw + 1rem);
    align-items: flex-start;
    margin-bottom: calc(20vh + 2rem);
    width: 100%;

    .text-originaux,
    .text-tirages {
      display: flex;
      flex-direction: column;
      text-transform: uppercase;
      font-size: $fs-md;
      font-weight: 500;
      overflow: hidden;

      p {
        font-size: $fs-base;
        font-weight: 100;
      }
    }
  }

  .button-container {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 20vh;
    padding: 0 calc(5vw + 1rem);
    align-self: flex-start;
    width: 100%;
    justify-content: space-between;

    .grid-button-container {
      align-self: flex-start;
      display: flex;
      justify-items: center;
      gap: 1em;
      font-size: $fs-base;
      cursor: pointer;
      text-transform: uppercase;

      .grid-button {
        font-size: $fs-base;
        cursor: pointer;
        display: grid;
        grid-template-rows: repeat(4, 1fr);
        place-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        padding: 10px;
        border: solid rgba(128, 128, 128, 0.486) 0.5px;

        .first,
        .second,
        .third,
        .fourth {
          width: 5px;
          height: 5px;
          background-color: $secondary-color;
        }
      }

      .grid-button:hover {
        border: solid rgba(128, 128, 128, 0.813) 0.5px;
      }

      .text-view {
        font-size: $fs-sm;
        font-weight: 500;
        display: grid;
        place-content: center;
        overflow: hidden;
      }

      .grid-button.insert {
        display: grid;
        grid-template-columns: repeat(2, 15px);
        grid-template-rows: repeat(2, 15px);
        place-content: center;
        align-items: center;
        justify-items: center;
      }
    }

    .filter-container {
      display: flex;
      height: 100px;
      flex-direction: column;
      justify-content: space-between;
      gap: 1em;
      color: black;
      font-size: $fs-base;
      cursor: pointer;
      text-transform: uppercase;

      .filter-button {
        display: flex;
        gap: 2em;
        cursor: pointer;
        font-size: $fs-sm;
      }
    }
  }

  .grid-images-content {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
    position: relative;

    .img-gallery-container {
      display: flex;
      flex-direction: column;
      align-items: center;

      .grid-img7 {
        .images-container {
          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            aspect-ratio: 1/1;
          }
        }
      }

      @for $i from 0 through 11 {
        .grid-img#{$i} {
          display: flex;
          flex-direction: column;
          align-items: center;

          .images-container {
            width: 100%;
            height: 50%;
          }

          .image-content {
            width: 95%;
            padding: 60px 0px;
            display: flex;

            .content-left {
              flex: 2;
              font-size: $fs-base;
            }

            .content-right {
              flex: 1;
              display: flex;
              align-items: flex-end;
              flex-direction: column;

              .image-date {
                padding-bottom: 1em;
                font-size: $fs-base;
              }
              .image-format {
                opacity: 0.5;
                font-size: $fs-sm;
              }
            }
          }
        }
      }
    }
  }

  .grid-images-content {
    .img-gallery-container.insert {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        aspect-ratio: 16/9;
      }

      @for $i from 0 through 11 {
        .grid-img#{$i} {
          display: flex;
          flex-direction: column;
          align-items: center;

          .image-content {
            width: 75%;
            font-size: 1em;
            padding: 40px 0;
            display: flex;

            .content-left {
              flex: 2;
              font-size: $fs-base;
            }

            .content-right {
              flex: 1.5;
              display: flex;
              align-items: flex-end;
              flex-direction: column;

              .image-date {
                padding-bottom: 1em;
                font-size: $fs-base;
              }
              .image-format {
                opacity: 0.5;
                font-size: $fs-sm;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .tirage-container {
    .flip-container-width {
      position: fixed;
      top: 0%;
      width: 90%;
      height: calc(40vh + 10px);
      justify-self: center;
      z-index: -1;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    .hero {
      .hero-title {
        font-size: $fs-xxl;
      }
    }
    .description-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      row-gap: calc(5vh + 2rem);
      margin-bottom: calc(10vh + 2rem);

      .text-tirages {
        padding: calc(5vw + 1rem);
      }
      .text-originaux {
        padding: calc(5vw + 1rem);
      }
    }

    .button-container {
      padding: 0 calc(1vw + 0.5rem);
      .filter-container {
        .filter-button {
          display: flex;
          flex-direction: column;
          gap: 0.5em;
        }
      }
    }

    .grid-images-content {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
      gap: 2em;

      .img-gallery-container.insert {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(0fr, 1fr));

        @for $i from 0 through 11 {
          .grid-img#{$i} {
            padding: 0;

            .image-content {
              width: 90%;
              padding: 20px 30px;
              display: flex;
              justify-content: space-between;

              .content-right {
                justify-content: flex-end;
                .image-format {
                  opacity: 0.5;
                  align-items: flex-end;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 498px) {
  .tirage-container {
    .hero {
      margin-bottom: calc(10vh + 2rem);

      .hero-title {
        font-size: $fs-xl;
      }
    }

    .button-container {
      padding: 0 calc(1vw + 0.5rem);

      .grid-button-container {
        .grid-button {
          display: grid;
          grid-template-rows: repeat(4, 7px);
          width: 40px;
          height: 40px;
        }
      }

      .filter-container {
        .filter-button {
          display: flex;
          flex-direction: column;
          gap: 0.5em;
        }
      }
    }

    .grid-images-content {
      .img-gallery-container.insert {
        @for $i from 0 through 11 {
          .grid-img#{$i} {
            .image-content {
              width: 95%;
              padding: 10px 15px;

              .content-left {
                flex: 1;
                font-size: $fs-base;
              }

              .content-right {
                flex: 1;

                .image-date {
                  font-size: $fs-base;
                }
                .image-format {
                  font-size: $fs-sm;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 380px) {
  .tirage-container {
    .hero {
      .hero-title {
        font-size: $fs-xl;
      }

      .hero-subtitle {
        display: none;
      }
    }

    .button-container {
      .grid-button-container {
        .grid-button {
          display: grid;
          grid-template-rows: repeat(4, 8px);
          width: 35px;
          height: 35px;
        }
      }
    }

    .grid-images-content {
      .img-gallery-container.insert {
        gap: 1em 0;
        @for $i from 0 through 11 {
          .grid-img#{$i} {
            .content-left {
              font-size: $fs-very-base--mobile;
            }

            .image-content {
              padding: 10px;
              justify-content: center;
              align-items: flex-start;
              display: flex;
              gap: 1em;
              flex-direction: column;

              .content-right {
                width: 100%;

                .image-date {
                  align-self: flex-start;
                  padding: 0;
                  font-size: $fs-very-base--mobile;
                }
                .image-format {
                  align-self: flex-start;

                  font-size: $fs-very-sm--mobile;
                }
              }
            }
          }
        }
      }
    }
  }
}
