@import "../../sass/variables.scss";
@import "../../sass/mixins.scss";

.originaux-details-container {
  @include parent-styles;

  .flip-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60vw;
    height: 60vh;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  .infos-container {
    .title {
      text-align: center;
      font-size: $fs-xxxl;
      // font-family: $font-title;
      overflow: hidden;
      text-transform: uppercase;
      margin-bottom: 20vh;
    }

    .product-info {
      margin-bottom: 20vh;
      align-items: center;
      display: grid;
      grid-template-columns: 1fr 2fr;

      .sale {
        padding: 0.5em;
        font-weight: 500;
        grid-row: 1;
        grid-column: 1/2;
        align-self: flex-start;
        text-align: center;
        margin-top: 3em;
        font-size: $fs-base;
        // font-family: $font-text;
        letter-spacing: -0.02em;
      }

      .details-image {
        grid-row: 1;
        grid-column: 2/3;
        display: flex;
        position: relative;
        width: 100%;
        height: 60vh;

        img {
          position: absolute;
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }

      .total-slide {
        grid-column: 1/2;
        grid-row: 1;
        align-self: flex-end;
        text-align: center;
        font-size: $fs-md;
        // font-family: $font-subtitle;
        margin-bottom: 5vh;
      }

      .btn {
        justify-self: center;
        grid-row: 1;
        grid-column: 1/2;
        display: grid;
        place-content: center;
        border-radius: 100%;
        box-sizing: border-box;
        height: 55px;
        width: 55px;
        border: solid black 2px;
        color: black;
        transform: scale(1);
        transition: transform 0.3s ease-in-out;
      }

      .btn:hover {
        transition: transform 0.3s ease-in-out;
        transform: scale(1.1);
      }
    }

    .originaux-divider {
      height: 1px;
      background-color: $secondary-color;
      margin: 10vh 0;
    }

    .wrapper {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      padding: 0 calc(5vw);
      margin-bottom: 20vh;

      .description {
        column-gap: 2em;
        grid-column: 1/4;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        font-size: $fs-base;
        // font-family: $font-text;
        margin-bottom: 30vh;

        .title-description {
          justify-self: center;
        }

        .buying-text {
          font-size: $fs-md;
          // font-family: $font-subtitle;
          width: 70%;
        }

        .details-infos {
          justify-self: flex-end;
          display: grid;
          grid-template-rows: repeat(5, max-content);
          line-height: 1.5;
          .serie,
          .date,
          .piece,
          .format,
          .paper {
            display: grid;
            grid-template-columns: 1fr 1fr;
          }
        }
      }
      .livraison {
        margin-bottom: 30vh;
        grid-column: 1/4;
        position: relative;
        display: grid;
        grid-template-columns: 1.5fr 1fr 1fr 1fr;
        justify-items: center;
        font-size: $fs-base;

        .livraison-title {
          // font-family: $font-text;
          justify-self: center;
        }

        .background {
          position: absolute;
          top: -10%;
          left: 0;
          width: 100%;
          height: 50%;
          background-color: rgba(0, 0, 0, 0.03);
          z-index: -1;
        }

        .france,
        .europe,
        .international {
          font-size: $fs-base;
          // font-family: $font-subtitle;
          p {
            // font-family: $font-text;

            margin-top: 2em;
          }
        }
      }

      .navigate {
        grid-column: 1/4;
        display: grid;
        grid-template-columns: 1fr 2fr;
        font-size: $fs-base;
        // font-family: $font-text;
        align-items: center;

        .navigate-title {
          align-self: flex-start;
          justify-self: center;
        }

        .navigate-works-originaux {
          position: relative;
          p {
            font-size: $fs-xxxl;
            // font-family: $font-title;
            width: max-content;
            cursor: pointer;
          }

          img {
            position: absolute;
            width: 300px;
            height: 300px;
            object-fit: contain;
            transform: translateX(-50%) translateY(-50%);
            top: 50%;
            left: 50%;
            z-index: -10;
            opacity: 0;
            pointer-events: none;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .originaux-details-container {
    .infos-container {
      .wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 0;
        margin-bottom: 20vh;

        .description {
          row-gap: 10em;

          .buying-text {
            grid-column: 2/4;
            font-size: $fs-md;
            width: 100%;
          }
          .details-infos {
            grid-column: 2/4;
            justify-self: center;

            .serie,
            .date,
            .piece,
            .format,
            .paper {
              span {
                justify-self: flex-start;
              }
            }
          }
        }
        .livraison {
          column-gap: 2em;
          justify-items: center;
          font-size: $fs-sm;

          .background {
            position: absolute;
            top: -10%;
            left: 0;
            width: 100%;
            height: 50%;
            background-color: rgba(0, 0, 0, 0.03);
            z-index: -1;
          }

          .france,
          .europe,
          .international {
            // font-family: $font-text;

            display: flex;
            flex-direction: column;
            align-items: center;
            p {
              font-size: $fs-sm;
              margin-top: 2em;
            }
          }
        }

        //chose à changer
        .navigate {
          grid-column: 1/4;
          display: grid;
          grid-template-columns: 1fr 2fr;
          font-size: $fs-sm;
          align-items: center;

          .navigate-title {
            align-self: flex-start;
            justify-self: center;
          }

          .navigate-works-originaux {
            position: relative;
            p {
              font-size: $fs-xxxl;
              width: max-content;
              cursor: pointer;
            }

            img {
              position: absolute;
              width: 300px;
              height: 300px;
              object-fit: contain;
              transform: translateX(-50%) translateY(-50%);
              top: 50%;
              left: 50%;
              z-index: -10;
              opacity: 0;
              pointer-events: none;
            }
          }
        }
      }
    }
  }
}

/**

!TODO: CENTRER LE FLIP CONTAINER

**/

@media (max-width: 498px) {
  .originaux-details-container {
    .flip-container {
      position: fixed;
      top: 47.5%;
      left: 47.5%;
      width: 90vw;
      height: 90vh;
    }
    .infos-container {
      .title {
        text-align: center;
        font-size: $fs-xxl;
      }
      .description {
        gap: 1em 0;
        font-size: $fs-md;
      }

      .title {
        margin-bottom: 5vh;
      }

      .product-info {
        align-items: center;
        display: grid;
        grid-template-columns: 1fr;

        .sale {
          grid-column: 1/2;
        }
        .btn {
          grid-column: 1/2;
          align-self: flex-start;
          margin-top: 10vh;
          height: 25px;
          width: 25px;
          border: solid black 2px;
          color: black;
          transform: scale(1);
          transition: transform 0.3s ease-in-out;
        }

        .details-image {
          grid-column: 1/2;
        }
      }
    }
  }
}

@media (max-width: 300px) {
  .originaux-details-container {
    .infos-container {
      .title {
        text-align: center;
        font-size: $fs-lg;
      }
    }
  }
}
