@import "../../../sass//variables.scss";
@import "../../../sass/mixins.scss";

.page {
  .transition-container {
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    left: 0;
    top: 0;
    pointer-events: none;
    z-index: 99999999;
    .slide-out {
      position: absolute;
      width: 100%;
      bottom: 0;
      height: 0;
      background-color: white;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }
    .slide-in {
      position: absolute;
      width: 100%;
      top: 0;
      height: 0;
      background-color: white;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }
  }
}
