@import "../../sass/variables.scss";

.image-container {
  height: 100vh;
  width: 100%;
  display: grid;
  place-content: center;
  position: relative;
  // font-family: $font-subtitle;

  .back-btn {
    position: absolute;
    top: 15%;
    right: 25%;
    cursor: pointer;
    color: black;
    width: max-content;
  }

  .image-content {
    width: 100vw;
    height: 50vh;
    position: relative;
    overflow: hidden;
    margin-bottom: 10vh;
  }
  img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .image-infos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;

    .content-left {
      display: flex;
      gap: 10em;
      .slidenumber {
      }
    }

    .slide-btn {
      display: flex;
      gap: 2em;

      .left-btn {
        cursor: pointer;
      }
      .right-btn {
        cursor: pointer;
      }
    }
  }
}
