@import "../../sass/variables.scss";

.image-container {
  height: 100vh;
  width: 100%;
  display: grid;
  place-content: center;
  position: relative;

  .back-btn {
    position: absolute;
    margin: 20px;
    top: 0;
    left: 10%;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 20px;
    color: $primary-color;
    width: max-content;
    background-color: $secondary-color;
    cursor: pointer;
    z-index: 99999999999;
    font-weight: 400;
  }

  .image-content {
    position: relative;
    overflow: hidden;
    margin-bottom: 10vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60vw;
    height: 60vh;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .image-infos {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    .content-left {
      margin-left: 10vw;
      grid-column: 1/2;
      justify-self: flex-start;
      display: flex;
      gap: 10em;
    }

    .content-right {
      justify-self: flex-end;
      margin-right: 10vw;

      grid-column: 2/3;
    }
  }

  .wrapper-slider {
    position: absolute;
    bottom: 0;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .slider-container {
      gap: 2em;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      width: 50%;

      .selected {
        opacity: 1;
        transition: 0.2s ease-in-out;
      }
      .not-selected {
        opacity: 0.5;
        transition: 0.2s ease-in-out;
      }

      .slider-content {
        height: 10vh;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .slide-btn {
      display: flex;
      gap: 2em;

      .left-btn {
        cursor: pointer;
      }
      .right-btn {
        cursor: pointer;
      }
    }
  }
}

@media (max-width: 498px) {
  .image-container {
    .back-btn {
      left: 0;
      cursor: pointer;
      padding: 5px 15px;
      text-transform: uppercase;
    }
    .image-content {
      position: fixed;
      margin-bottom: 0vh;
      width: 90vw;
      height: 90vh;
    }
    .image-infos {
      top: 20%;
    }
    .wrapper-slider {
      padding: 10px;
      flex-direction: column-reverse;
      gap: 3em;

      .slider-container {
        gap: 0.2em;
        width: 100%;
      }
    }
  }
}
