@import "../../sass/variables.scss";

:root {
  --img--width: 200px;
  --img--height: 275px;
}

.landing-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: $primary-color;

  .landing-square {
    height: 0.1vh;
    background-color: $primary-color;
  }

  .landing-content {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-around;
    color: $primary-color;
    text-transform: uppercase;
    font-size: $fs-base;
  }
}

@media (max-width: 498px) {
  .landing-container {
    width: 100%;
    height: 100%;
    border: solid red 2px;
  }
}
