@import "../../sass/variables.scss";

:root {
  --img--width: 200px;
  --img--height: 275px;
}

.landing-container {
  // font-family: $font-title;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;

  .landing-square {
    display: flex;
    width: 30vw;
    height: 0.1vh;
    background-color: #ffffff;
  }

  .landing-content {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-around;
    color: white;
    text-transform: uppercase;
  }
}
