@import "../../../sass/variables.scss";

.card {
  width: 300px;
  height: 100%;
  padding: 5px;
  border-radius: 10px;
  background-color: $primary-color;
  overflow: hidden;

  .card-infos {
    background-color: $primary-color;
    .card-infos-content {
      padding: 10px;
      gap: 10px;
      width: max-content;
      align-items: center;
      display: flex;
      .card-logo {
        width: 30px;
        height: 30px;
        img {
          border-radius: 50%;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
  .card-img {
    width: 100%;
    height: 60%;
    img {
      aspect-ratio: 1/1;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .card-banner-bottom {
    background-color: $primary-color;
    padding: 10px;

    .logos {
      display: flex;
      gap: 10px;

      .bookmark-logo {
        margin-left: auto;
      }
    }

    .like-number {
      margin: 2vh 0;
      display: flex;
      align-items: center;
      gap: 5px;
      font-size: $fs-very-base--mobile;
      font-weight: 500;
    }

    .comments {
      .com-1,
      .com-2,
      .com-3 {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        font-size: $fs-very-base--mobile;
        margin-bottom: 10px;
        span {
          font-weight: 500;
        }
        p {
          line-height: 1;
          margin-left: 5px;
          font-weight: 300;
        }
      }
    }
  }
}

@media (max-width: 468px) {
  .card {
    border: solid 1px $primary-color;
    height: 85%;
    padding: 5px;

    .card-infos {
      .card-infos-content {
        padding: 10px;
        gap: 10px;

        font-size: $fs-very-base--mobile;
        .card-logo {
          width: 20px;
          height: 20px;
        }
      }
    }
    .card-img {
      width: 100%;
      height: 50%;
    }
    .card-banner-bottom {
      padding: 10px;

      .like-number {
        margin: 1vh 0;
      }

      .comments {
        .com-1,
        .com-2,
        .com-3 {
          font-size: $fs-intermediate--mobile;
          gap: 3px;
        }
      }
    }
  }
}
