@import "../../sass/variables.scss";
@import "../../sass/mixins.scss";

.menu {
  z-index: 9999998;

  .nav-container {
    font-weight: 400;

    .nav {
      width: 100%;
      font-size: $fs-sm;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      justify-items: center;
      align-items: center;
      padding: 20px;
      position: relative;
      text-transform: uppercase;

      .nav-logo {
        grid-column: 1/2;
        justify-self: flex-start;
      }

      .based {
        grid-column: 2/3;
        text-transform: uppercase;
        font-size: $fs-sm;
      }

      .links-container {
        grid-column: 3/4;
        justify-self: flex-end;
        display: flex;
        gap: 10px;
        border-radius: 20px;
        position: relative;

        .nav-item {
          position: relative;
          padding: 5px 10px;
          cursor: pointer;
        }

        .nav-item:hover {
          opacity: 0.5;
        }

        .background {
          position: relative;

          .nav-text {
            position: relative;
            z-index: 1;
            color: $primary-color;
          }
        }

        .background::before {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 100%;
          height: 100%;
          background-color: $matching-color3;
          border-radius: 20px;
        }

        .text {
          cursor: pointer;
          text-decoration: none;
          line-height: calc(1em * 1.3);
          color: $secondary-color;
          height: calc(1em * 1.1);
          overflow: hidden;
        }

        .text:hover .letter {
          transform: translateY(-100%);
        }

        .text .block:last-child {
          color: $secondary-color;
        }

        .text .letter {
          display: inline-block;
          transition: transform 0.6s cubic-bezier(0.76, 0, 0.24, 1);
        }

        .letter:nth-child(1) {
          transition-delay: 0s;
        }

        .letter:nth-child(2) {
          transition-delay: 0.03s;
        }

        .letter:nth-child(3) {
          transition-delay: 0.06s;
        }

        .letter:nth-child(4) {
          transition-delay: 0.09s;
        }

        .letter:nth-child(5) {
          transition-delay: 0.12s;
        }

        .letter:nth-child(6) {
          transition-delay: 0.15s;
        }

        .letter:nth-child(7) {
          transition-delay: 0.18s;
        }

        .letter:nth-child(8) {
          transition-delay: 0.21s;
        }

        .letter:nth-child(9) {
          transition-delay: 0.24s;
        }

        .letter:nth-child(10) {
          transition-delay: 0.27s;
        }

        .letter:nth-child(11) {
          transition-delay: 0.3s;
        }

        .letter:nth-child(12) {
          transition-delay: 0.33s;
        }
      }
      a {
        text-decoration: none;
        color: $secondary-color;
      }
    }
  }
}
