@import "../../sass/variables.scss";

.header {
  width: 100px;
  height: 40px;
  position: fixed;
  top: 5%;
  right: 5%;
  z-index: 9999999999999;

  .button {
    border-radius: 20px;
    background: rgba(76, 76, 76, 0.037);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.164);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $secondary-color;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;

    p {
      text-transform: uppercase;
      font-weight: 500;
    }

    .buttonNameActive {
      animation: fadeIn 5s;
      z-index: 99999999;
      color: black;
    }

    @keyframes fadeIn {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
  }

  .buttonActive {
    background-color: $primary-color;
    box-shadow: none;
  }
}
